<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Información sobre los dioses griegos según Destripando la Historia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="tablas.html">Generaciones</a></li>
                <li><a href="formulario.html">Encuestas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Información sobre los dioses griegos según Destripando la Historia</h1>

        <div class="dios">
            <h2>Zeus</h2>
            <p>Zeus es el rey de los dioses y gobierna el Monte Olimpo. Es el dios del cielo y el trueno. Es conocido por su infidelidad y sus muchos hijos con diferentes diosas y mortales. Su símbolo es el rayo.</p>
            <img src="../images/zeus.jpg" alt="Zeus" width="200px" ; height="200px" ; />
            <button onclick="window.open('https://youtu.be/Rh9JdftCIH0?si=goLNq7ZXNyLU0byc', '_blank')">Escuchar canción de Zeus</button>
        </div>

        <div class="dios">
            <h2>Hera</h2>
            <p>Hera es la reina de los dioses y la diosa del matrimonio y la familia. Es la esposa de Zeus y es conocida por su carácter celoso y vengativo, especialmente hacia las amantes de Zeus y sus hijos. Su símbolo es el pavo real.</p>
            <img src="../images/hera.jpg" alt="Hera" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/nhsdZA6v0d4?si=yb_uSs-7KwFKA6Sx', '_blank')">Escuchar canción de Hera</button>
        </div>

        <div class="dios">
            <h2>Poseidón</h2>
            <p>Poseidón es el dios del mar, los terremotos y los caballos. Es uno de los hermanos de Zeus y es conocido por su temperamento violento y su tridente, que utiliza para causar terremotos y tormentas en el mar.</p>
            <img src="../images/poseidon.jpg" alt="poseidon" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/2-VTUyI3w7U?si=W0-8HdeD-acVasi3', '_blank')">Escuchar canción de Poseidón</button>
        </div>

        <div class="dios">
            <h2>Atenea</h2>
            <p>Atenea es la diosa de la sabiduría, la guerra estratégica y las artes. Nació completamente armada de la cabeza de Zeus. Es una de las diosas vírgenes y su símbolo es el búho, que representa la sabiduría.</p>
            <img src="../images/atenea.jpg" alt="atenea" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/r159RLBXaHo?si=ssB4-Dvr2KN1lUeb', '_blank')">Escuchar canción de Atenea</button>
        </div>

        <div class="dios">
            <h2>Ares</h2>
            <p>Ares es el dios de la guerra, particularmente de su aspecto violento y sangriento. Es hijo de Zeus y Hera y es despreciado por los otros dioses debido a su naturaleza belicosa. Su símbolo es el casco.</p>
            <img src="../images/ares.jpg" alt="Ares" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/2JXEp2im-LA?si=9hPUPq9qXk8kPpOQ', '_blank')">Escuchar canción de Ares</button>
        </div>

        <div class="dios">
            <h2>Artemisa</h2>
            <p>Artemisa es la diosa de la caza, la naturaleza, la virginidad y la luna. Es la hermana gemela de Apolo y es conocida por su habilidad con el arco. Su símbolo es la luna creciente.</p>
            <img src="../images/artemisa.jpg" alt="arco" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/-xTvwrJmiik?si=Gw3_hIwk4jyP3Km8', '_blank')">Escuchar canción de Artemisa</button>
        </div>

        <div class="dios">
            <h2>Hades</h2>
            <p>Hades es el dios del inframundo y de los muertos. Es uno de los hermanos de Zeus y es conocido por ser un dios sombrío y justo. Es el guardián de las almas de los muertos. Su símbolo es el casco de invisibilidad.</p>
            <img src="../images/hades.jpg" alt="inframundo" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/O6j4W0IdRC4?si=2a-Ti2gBFbjFZg4i', '_blank')">Escuchar canción de Hades</button>
        </div>

        <div class="dios">
            <h2>Afrodita</h2>
            <p>Afrodita es la diosa del amor, la belleza y la fertilidad. Nació de la espuma del mar y es conocida por su extraordinaria belleza. Su símbolo es la paloma.</p>
            <img src="../images/afrodita.jpg" alt="Zeus" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/q1A7ardAe4o?si=9bkb2FJrlKYq8c6S', '_blank')">Escuchar canción de Afrodita</button>
        </div>

        <div class="dios">
            <h2>Hermes</h2>
            <p>Hermes es el mensajero de los dioses, así como el dios del comercio, los ladrones y los viajeros. Es hijo de Zeus y Maia y es conocido por su astucia y velocidad. Su símbolo es el caduceo.</p>
            <img src="../images/hermes.jpg" alt="ladron" width="300px" ; height="300px" ; />
            <button onclick="window.open('https://youtu.be/Tda5u5JNRko?si=VWjUHJBcgeflembD', '_blank')">Escuchar canción de Hermes</button>
        </div>


        <!--Videos extras sabias que?-->
        <h3>Dato curioso</h3>
        <p>Deméter, la diosa griega de la cosecha y la fertilidad, también es conocida como la diosa de las estaciones? Según la mitología, cuando su hija Perséfone fue secuestrada por Hades y llevada al inframundo, Deméter se sumió en una profunda tristeza. Durante el tiempo que Perséfone pasaba en el inframundo, la tierra se volvía estéril, causando el invierno. Cuando Perséfone regresaba con su madre, la tierra florecía nuevamente, trayendo la primavera y el verano. Este mito explica el ciclo de las estaciones en la antigua Grecia.</p>
        <video height="400" width="700" controls>
            <source src="../assets/Demeter.mp4" type="video/mp4"
        </video>
        <div class="dios">
            <h2>¿Te han interesado la información que se te ha dado aqui?</h2>
            <p>Puedes seguir alimentandote de información viendo el video clip que se trata de todos los dioses griegos</p>
            <button onclick="window.open('https://youtu.be/EeyTtYC8wnE?si=9aZTTdKwe7nLbB5C', '_blank')">Ver video</button>
        </div>

        <a href="../index.html">Regresar al inicio</a>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Tambien está nuestra Merch</h4>
                    <button class="boton-merch" onclick="window.open('https://www.destripandolahistoria.com/?srsltid=AfmBOooF8Re-rgDTwRLOQCqGzj4njESWNzKxfPfQQe5VfQuTQbXpTAls', '_blank')"></button>


                </div>
                <h4>Síguenos en redes sociales</h4>
                <button class="boton-facebook" onclick="window.open('https://web.facebook.com/destripandolahistoria', '_blank')">       </button>
                <button class="boton-instagram" onclick="window.open('https://www.instagram.com/destripandolahistoria/', '_blank')">       </button>
                <button class="boton-twitter" onclick="window.open ('https://x.com/pascuyrodri', '_blank')">        </button>
            </div>

        </div>
        <p>&copy; 2024 | Pascu y Rodri | Destripando la historia | Todos los derechos reservados.</p>
    </footer>
</body>
</html>



