<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="tablas.html">Generaciones</a></li>
                <li><a href="formulario.html">Encuestas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form action="/action_page.php" id="miFormulario">
                <div>
                    <div>
                        <label for="fname">Nombre y Apellido</label>
                        <input type="text" id="fname" name="firstname" placeholder="Por favor escribe tu nombre" required>
                    </div>


                    <div>
                        <label for="txtFecha">Fecha</label>
                        <input type="date" id="txtFecha" required />
                    </div>
                    <div>
                        <label for="txtCorreo">Correo Electrónico</label>
                        <input type="email" id="txtCorreo" name="correo" placeholder="Tunombre0000@gmail.com" required>
                    </div>
                    <div>
                        <label for="dios">¿Cuál fue tu dios favorito?</label>
                        <select id="dios" name="dios">
                            <option value="zeus">Zeus</option>
                            <option value="poseidon">Poseidón</option>
                            <option value="hades">Hades</option>
                            <option value="hera">Hera</option>
                            <option value="atenea">Atenea</option>
                            <option value="apolo">Apolo</option>
                            <option value="artemisa">Artemisa</option>
                            <option value="ares">Ares</option>
                            <option value="afrodita">Afrodita</option>
                        </select>
                    </div>
                    <input type="submit" value="Enviar encuesta" id="btnEnviar">
            </form>
        </div>

        <!--Direccionamiento-->
        <br />
        <a href="../index.html">Regresar al inicio</a>
    </main>
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Tambien está nuestra Merch</h4>
                        <button class="boton-merch" onclick="window.open('https://www.destripandolahistoria.com/?srsltid=AfmBOooF8Re-rgDTwRLOQCqGzj4njESWNzKxfPfQQe5VfQuTQbXpTAls', '_blank')"></button>


                    </div>
                    <h4>Síguenos en redes sociales</h4>
                    <button class="boton-facebook" onclick="window.open('https://web.facebook.com/destripandolahistoria', '_blank')">       </button>
                    <button class="boton-instagram" onclick="window.open('https://www.instagram.com/destripandolahistoria/', '_blank')">       </button>
                    <button class="boton-twitter" onclick="window.open ('https://x.com/pascuyrodri', '_blank')">        </button>
                </div>

            </div>
            <p>&copy; 2024 | Pascu y Rodri | Destripando la historia | Todos los derechos reservados.</p>
            
    </footer>
</body>
</html>
