<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Mitología Griega - Generaciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="tablas.html">Generaciones</a></li>
                <li><a href="formulario.html">Encuestas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Conoce de los dioses y sus generaciones</h1>
        <p>La mitología griega está llena de historias fascinantes sobre dioses y diosas que gobernaron el cosmos. A continuación, se presenta una tabla que desglosa las generaciones de estos dioses, incluyendo sus nombres, ascendencia y descendencia.</p>

        <h3>Conoce también a:</h3>
        <p>Heracles (Hércules en la mitología romana). Hijo de Zeus y de una princesa mortal, era un semidiós odiado por Hera, esposa de Zeus, quien lo empujó a tener que cumplir doce trabajos. Fue el más admirado de los héroes griegos, destacado por su fuerza.</p>
        <div>
            <p>Aquiles. Hijo del mortal Peleo y de una ninfa, era invulnerable excepto en uno de sus talones. Fue uno de los héroes de la guerra de Troya, donde murió cuando una flecha lo alcanzó en su talón.</p>
        </div>
        <div>
            <p>Perséfone. Hija de Zeus y Deméter, fue raptada por Hades para que fuera su esposa, y llegó con este a un arreglo: una parte del año la pasaría en el inframundo y la otra parte en la tierra junto a su madre, lo que dio origen a las estaciones.</p>
        </div>
        <div>
            <p>Edipo. Fue rey de Tebas luego de asesinar por error a su propio padre y desposar a su madre, con la que tuvo descendencia. Al enterarse de sus crímenes, se arrancó los ojos y se exilió.</p>
        </div>
        <div>
            <p>Odiseo (Ulises en la mitología romana). Fue un rey y héroe de Ítaca que participó en la guerra de Troya y emprendió un largo viaje de regreso a su hogar que fue relatado en la Odisea atribuida a Homero.</p>
        </div>

        <h2>Generaciones de los dioses según la mitología griega</h2>

        <table class="tabla">
            <tr>
                <th>Nombre del dios</th>
                <th>Hijo de:</th>
                <th>Generación:</th>
                <th>Hijos: </th>
            </tr>
            <tr>
                <td>Urano</td>
                <td>Gea</td>
                <td>Primera (Titán)</td>
                <td>Cronos, Rea, Océano, Hiperión</td>
            </tr>
            <tr>
                <td>Cronos</td>
                <td>Urano y Gea</td>
                <td>Segunda (Titán)</td>
                <td>Zeus, Hades, Poseidón, Hera</td>
            </tr>
            <tr>
                <td>Zeus</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Atenea, Apolo, Artemisa, Ares, Perséfone</td>
            </tr>
            <tr>
                <td>Poseidón</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Tritón, Polifemo</td>
            </tr>
            <tr>
                <td>Hades</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Macaria</td>
            </tr>
            <tr>
                <td>Hera</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Ares, Hebe, Hefesto</td>
            </tr>
            <tr>
                <td>Atenea</td>
                <td>Zeus y Metis</td>
                <td>Tercera (Olimpo)</td>
                <td>Ninguno</td>
            </tr>
            <tr>
                <td>Apolo</td>
                <td>Zeus y Leto</td>
                <td>Tercera (Olimpo)</td>
                <td>Asclepio</td>
            </tr>
            <tr>
                <td>Artemisa</td>
                <td>Zeus y Leto</td>
                <td>Tercera (Olimpo)</td>
                <td>Ninguno</td>
            </tr>
            <tr>
                <td>Ares</td>
                <td>Zeus y Hera</td>
                <td>Tercera (Olimpo)</td>
                <td>Fobos, Deimos</td>
            </tr>
            <tr>
                <td>Afrodita</td>
                <td>Urano (nacida del mar)</td>
                <td>Tercera (Olimpo)</td>
                <td>Eros, Harmonia, entre otros</td>
            </tr>
        </table>

        <h2>Nombres griegos y romanos de los dioses</h2>

        <table class="tabla">
            <tr>
                <th>Nombre Griego</th>
                <th>Nombre Romano</th>
            </tr>
            <tr>
                <td>Zeus</td>
                <td>Júpiter</td>
            </tr>
            <tr>
                <td>Hera</td>
                <td>Juno</td>
            </tr>
            <tr>
                <td>Poseidón</td>
                <td>Neptuno</td>
            </tr>
            <tr>
                <td>Ares</td>
                <td>Marte</td>
            </tr>
            <tr>
                <td>Atenea</td>
                <td>Minerva</td>
            </tr>
            <tr>
                <td>Afrodita</td>
                <td>Venus</td>
            </tr>
            <tr>
                <td>Hades</td>
                <td>Plutón</td>
            </tr>
            <tr>
                <td>Hermes</td>
                <td>Mercurio</td>
            </tr>
            <tr>
                <td>Artemisa</td>
                <td>Diana</td>
            </tr>
            <tr>
                <td>Apolo</td>
                <td>Apollo</td>
            </tr>
        </table>

        <h3>Árbol genealógico</h3>
        <img src="../images/arbolgenealogico.png" alt="Árbol genealógico de dioses griegos" class="banner" />

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>También está nuestra Merch</h4>
                        <p>¿Te interesa?</p>
                        <button class="boton-merch" onclick="window.open('https://www.destripandolahistoria.com/?srsltid=AfmBOooF8Re-rgDTwRLOQCqGzj4njESWNzKxfPfQQe5VfQuTQbXpTAls', '_blank')">Visítanos</button>
                    </div>
                    <h4>Síguenos en redes sociales</h4>
                    <button class="boton-facebook" onclick="window.open('https://web.facebook.com/destripandolahistoria', '_blank')">Facebook</button>
                    <button class="boton-instagram" onclick="window.open('https://www.instagram.com/destripandolahistoria/', '_blank')">Instagram</button>
                    <button class="boton-twitter" onclick="window.open('https://x.com/pascuyrodri', '_blank')">Twitter</button>
                    </
                </div>
            </div>
        </footer>
</body>
